<h1>Update the repo name</h1>
<p>Current repo name: <%= @repository_data.name %></p>

<div class="form-edit">
  <%= form_for update_repository_path(@repository_data) do |form| %>
    <%= form.label :name %>
    <div class="form-input">
      <%= form.text_field :name, placeholder: 'Enter Repository Name' %>
    </div>
    <div class="btn-submit">
      <%= form.submit 'Update Name' %>
    </div>
  <% end %>
</div>
