<div class="section">
  <div class="header">
    <h1 class="text-3xl font-bold underline">
      GitHub Repositories
    </h1>
  </div>
  <div class="btn-class">
    <%= link_to 'Create new repo', form_page_path, class:'border' %>
  </div>

  <div class="content-repo">
    <% @repos.each do |repo| %>
      <p>
      Repo: <%= repo.name %>
      </p>
      <p>
        Language: <%= repo.language %>
      </p>
      <p>
        Description: <%= repo.description %>
      </p>
      <p>
        Created on: <%= repo.created_at.in_time_zone("Australia/Sydney").strftime("%A, %d %B %Y %Z") %>
      </p>
      <p>
        Last updated on: <%= repo.updated_at.in_time_zone("Australia/Sydney").strftime("%A, %d %B %Y %Z") %>
      </p>
        <div class="btn-repo-actions">
        <%= linkt_to 'Edit this repo', edit_page_path, class: 'border' %>
        <%= link_to 'Delete this repo', delete_path, class: 'border'  %>
        </div>
      <hr>
    <% end %>
  </div>
</div>
